* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    display: grid;
    place-items: center;
    height: 100vh;

    background: url('../images/fundogame.png') center;
    background-size: cover;

}

main {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

header {
    background-color: #fffc;
    width: calc(100% - 10%);
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    box-shadow: 3px 3px #fffc, 5px 5px #000;
}

.grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: .5rem;

}

.card {
    width: 7rem;
    aspect-ratio: 3/4;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 500ms ease;
}
/* 
 .card:active {
    transform: rotateY(180deg);
    
}  */

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 4px 4px 8px #321036;
    border-radius: 5px;
    background-size: cover !important;
    background-position: center !important;
}

.front {
    /* background: url("../images/1.png"); */
    transform: rotateY(180deg);
}

.back {
    background:linear-gradient(#a136afa9, #000000fa), url("../images/costaCarta.png");
    backface-visibility: hidden;
}

/* classes que vão ser add com javascript */
.reveal-card {
    transform: rotateY(180deg)

}

.disabled-card {
    filter: saturate(0);
    opacity: 0.7;

}

@media (max-width:700px) {

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        aspect-ratio: 3/5;
        width: 4rem;
    }

    
}